.letra {
    font-style: italic; 
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(112, 10, 208);
    font-size: 20px;
}
table {
    margin: auto;
    color: aliceblue;
}
td {
    padding: 17px;
    text-align: center;
    font-size: 20px;
}
.fondo{
    background-color: rgb(57, 141, 186);
}


.filaB {
    background-color: rgb(108, 210, 151);
    color: black;
    border-radius: 100px;
}
.filaI {
    background-color: rgb(11, 88, 220);
    color: black;
    border-radius: 100px;
}
.filaN {
    background-color: rgb(184, 65, 198);
    color: black;
    border-radius: 100px;
}
.filaG {
    background-color: rgb(213, 76, 158);
    color: black;
    border-radius: 100px;
}
.filaO {
    background-color: rgb(198, 182, 103);
    color: black;
    border-radius: 100px;
}

.x {
    background-color: rgb(19, 45, 175);
    color: rgb(255, 255, 255);
    border-radius: 100px;
}
