.letra {
    font-style: italic; 
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(112, 10, 208);
    font-size: 20px;
}

table {
    margin: auto;
    color: aliceblue;
}
td {
    padding: 17px;
    text-align: center;
    font-size: 20px;
}
.fondo{
    background-color: rgb(119, 52, 207);
}
.filaB {
    text-decoration: underline #8b26c6;
    background-color: rgb(162, 146, 232);
    color: black;
    border-radius: 100px;
}
.filaI {
    text-decoration: underline #8b26c6;
    background-color: rgb(213, 232, 146);
    color: black;
    border-radius: 100px;
}
.filaN {
    text-decoration: underline #8b26c6;
    background-color: rgb(98, 214, 206);
    color: black;
    border-radius: 100px;
}
.filaG {
    text-decoration: underline #8b26c6;
    background-color: rgb(102, 223, 108);
    color: black;
    border-radius: 100px;
}
.filaO {
    text-decoration: underline #8b26c6;
    background-color: rgb(223, 120, 189);
    color: black;
    border-radius: 100px;
}
.x {
    text-decoration: underline #8b26c6;
    background-color: rgb(196, 173, 238);
    color: black;
    border-radius: 100px;
}
